.hidden {
  display: none;
}

html {
  background-image: url(https://ibb.co/VJNSsZH);
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  margin-top: 10vh;
  text-align: center;
  margin-bottom: 10vh;
  margin-left: 15%;
  margin-right: 15%;
  border: 2px solid #656464;
  padding: 0 50px 0 10px;
  background-color: white;
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.totoro {
  height: 80px;
  width: auto;
  mask-repeat: repeat;

}

h2 {
  font-family: 'VT323', monospace;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 2px;
}

#Output {
  font-family: 'VT323', monospace;
  font-size: 24px;
  display: flex;
  align-items: center;
  gap: 2px;
}

.box {
  font-family: 'VT323', monospace;
  padding: 0 50px 0 10px;
  border: 2px solid #656464;
  background-color: white;
  border-radius: 10px;
  word-break: break-all;
  margin: 5%;
}

.box h2 {
  font-family: 'VT323', monospace;
  align-items: center;
  gap: 2px;
}


input[type='number'] {
  font-family: 'VT323', monospace;
  width: 50%;
  height: fit-content;
}

#num-input {
  font-family: 'VT323', monospace;
  font-size: 38px;
}

button {
  display: inline-block;
  background-color: #7b38d8;
  padding: 10px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  border: 4px double #cccccc;
  border-radius: 10px;
  font-family: 'VT323', monospace;
  font-size: 28px;
}

.container {
  text-align: center;
}